
// General sizes
$navbar-height: 64px;
$navbar-height-responsive: 32px;

// Colors
$background-color: #f9faff;
$primary-color: #071eb3;
$black-color: #161616;

// Fonts
$font-family: 'Roboto', sans-serif;
$font-size-large: 16px;
$font-size: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;