.main-navbar-container {
    width: 40%;

    .main-navbar {
        margin: 0;
        display: flex;
        justify-content: flex-end;

        li {
            padding-left: 10%;
            list-style: none;
            
            .navbar-link {
                font-size: 16px;

                &:hover {
                    border-bottom: 2px solid #071eb3;
                    padding-bottom: 2px;
                }
            }
        }
    }
}