.app-header {
    padding: 10px 0;
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    
    .app-icon {
        font-size: 28px;
        padding-right: 8px;
    }
    
    .app-title {
        font-size: 24px;
    }
}