.app-header {
    padding: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    
    .app-icon {
        font-size: 24px;
        padding-right: 8px;
    }
    
    .app-title {
        font-size: 24px;
    }
}